USE [master]
GO
/****** Object:  Database [DersDB]    Script Date: 2.07.2021 15:25:12 ******/
CREATE DATABASE [DersDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DersDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DersDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DersDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DersDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DersDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DersDB]
GO
/****** Object:  Table [dbo].[ogrenci]    Script Date: 2.07.2021 15:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ogrenci](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [varchar](30) NULL,
	[soyadi] [varchar](30) NULL,
	[cinsiyeti] [varchar](50) NULL,
	[sinifi] [varchar](50) NULL,
	[numarasi] [int] NULL,
 CONSTRAINT [PK_ogrenci] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ogrenci] ON 

INSERT [dbo].[ogrenci] ([id], [adi], [soyadi], [cinsiyeti], [sinifi], [numarasi]) VALUES (1, N'Doğacan', N'Gönel', N'Erkek', N'8-D', 848)
INSERT [dbo].[ogrenci] ([id], [adi], [soyadi], [cinsiyeti], [sinifi], [numarasi]) VALUES (3, N'Durukan', N'Gönel', N'Erkek', N'8-A', 2294)
INSERT [dbo].[ogrenci] ([id], [adi], [soyadi], [cinsiyeti], [sinifi], [numarasi]) VALUES (4, N'Şengül', N'Şenocak', N'Kadın', N'8-D', 841)
SET IDENTITY_INSERT [dbo].[ogrenci] OFF
USE [master]
GO
