USE [master]
GO
/****** Object:  Database [KOSDb]    Script Date: 7.07.2021 16:37:29 ******/
CREATE DATABASE [KOSDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KOSDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\KOSDb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KOSDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\KOSDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KOSDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KOSDb]
GO
/****** Object:  Table [dbo].[dolaplar]    Script Date: 7.07.2021 16:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dolaplar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [varchar](30) NULL,
 CONSTRAINT [PK_dolaplar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[emanetler]    Script Date: 7.07.2021 16:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emanetler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kitapId] [int] NULL,
	[okuyucuId] [int] NULL,
	[emanetVerilisTarihi] [date] NULL,
	[emanetGeriAlmaTarihi] [date] NULL,
	[emanetIslemTarihi] [date] NULL,
	[durum] [int] NULL,
	[aktif] [int] NULL,
 CONSTRAINT [PK_emanetler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[kitaplar]    Script Date: 7.07.2021 16:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[kitaplar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kayitNo] [int] NULL,
	[kitapAdi] [varchar](30) NULL,
	[yazarAdi] [varchar](30) NULL,
	[yayinevi] [varchar](30) NULL,
	[basimYili] [varchar](10) NULL,
	[sayfaSayisi] [varchar](10) NULL,
	[tur] [varchar](30) NULL,
	[aciklama] [varchar](250) NULL,
	[dolap] [varchar](30) NULL,
	[raf] [varchar](20) NULL,
	[sira] [varchar](20) NULL,
	[durum] [int] NULL,
	[aktif] [int] NULL,
 CONSTRAINT [PK_kitaplar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[kullanicilar]    Script Date: 7.07.2021 16:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[kullanicilar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [varchar](20) NULL,
	[soyadi] [varchar](20) NULL,
	[kullaniciAdi] [varchar](20) NULL,
	[sifre] [varchar](20) NULL,
	[aktif] [int] NULL,
 CONSTRAINT [PK_kullanicilar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[okuyucular]    Script Date: 7.07.2021 16:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[okuyucular](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [varchar](20) NULL,
	[soyadi] [varchar](20) NULL,
	[cinsiyeti] [varchar](10) NULL,
	[sinifi] [varchar](10) NULL,
	[okulNo] [varchar](10) NULL,
	[cepTel] [varchar](20) NULL,
	[adres] [varchar](250) NULL,
	[aktif] [int] NULL,
 CONSTRAINT [PK_okuyucular] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[turler]    Script Date: 7.07.2021 16:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[turler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [varchar](30) NULL,
 CONSTRAINT [PK_turler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[yayinevleri]    Script Date: 7.07.2021 16:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[yayinevleri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [varchar](30) NULL,
 CONSTRAINT [PK_yayinevleri] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[yazarlar]    Script Date: 7.07.2021 16:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[yazarlar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [varchar](30) NULL,
 CONSTRAINT [PK_Yazarlar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[emanetler] ADD  CONSTRAINT [DF_emanetler_durum]  DEFAULT ((0)) FOR [durum]
GO
ALTER TABLE [dbo].[emanetler] ADD  CONSTRAINT [DF_emanetler_aktif]  DEFAULT ((1)) FOR [aktif]
GO
ALTER TABLE [dbo].[kitaplar] ADD  CONSTRAINT [DF_kitaplar_durum]  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[kitaplar] ADD  CONSTRAINT [DF_kitaplar_aktif_1]  DEFAULT ((1)) FOR [aktif]
GO
ALTER TABLE [dbo].[kullanicilar] ADD  CONSTRAINT [DF_kullanicilar_aktif]  DEFAULT ((1)) FOR [aktif]
GO
ALTER TABLE [dbo].[okuyucular] ADD  CONSTRAINT [DF_okuyucular_aktif]  DEFAULT ((1)) FOR [aktif]
GO
USE [master]
GO
