@using MvcKutuphane.Models.Entity
  
@{
    ViewBag.Title = "Kategori Ekle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form method="post" class="form-group" style="margin-top:20px; font-size:16px;">
    <div>
        <label>Kategori Ad</label>
        <input type="text" class="form-control" name="AD" />
    </div>
    <button class="btn btn-info" style="margin-top:10px">Kaydet</button>
</form>
